<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Bambook publicated Articles!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

		{% block sidebar %}
			<div class="row" style="margin-left:350px; margin-top:35px; padding:15px; position: static;" >
				<div class="col-md-7">
					<a href="/show-publicated/0/page" class="btn btn-outline-dark" style="position: static;">Show-publicated</a>
					<a href="/add-publicated" class="btn btn-outline-dark" style="position: static;">Add-publicated</a>
					<a href="/show-concrete-publicated" class="btn btn-outline-dark" style="position: static;">Concrete-publicated</a><br><hr>
				</div>
			</div>
		{% endblock %}

        {% block body %}
			<div class="row" style="margin-left:350px; margin-top:15px; width:100%; position: static;">
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<div class="btn-group" role="group" aria-label="Basic example">
								{{ form_start(form) }}
									{{ form_widget(form) }}
								{{ form_end(form) }}<hr>

								{{ content }}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}<br>

		<div class="row" style="margin-left:370px; width:100%; position: static;">
			<div class="col-md-4">
				<a href="/show-publicated/0/page" class="btn btn-outline-dark">Go back</a>
			</div>
		</div>

		<div class="row" style="margin-left:250px;">
			<form action="{{path("ping")}}" method="POST">
				<button class="btn btn-primary">Ping</button>
			</form>
		</div>

		<script>
			const url = new URL('http://localhost:3001/hub');
			url.searchParams.append('topic', 'http://localhost:8000/show-concrete-publicated');

			const eventSource = new EventSource(url);
			
			eventSource.onmessage = e => {
				alert ("hello");
			};
    	</script>

        {% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		{% endblock %}
  </body>
    </body>
</html>
