{% extends "base.html.twig" %}

{% block body %}
	<div class="row" style="margin-left:350px; margin-top:15px; width:100%; position: static;">
		<div class="col-md-4" style="position: static;">

            <span class="badge badge-light" style="position: static;">
                <h4>{{ publicated.title }}</h4><br>
                <h5>{{ publicated.body }}</h5>
            </span><br><br>

            <span style="margin-left:15px; margin-top:45px; position: static;">
                <a href="{{ path('edit-publicated', {id: publicated.id}) }}" class="btn btn-warning">Edit</a>
                <a href="{{ path('delete-publicated', {id: publicated.id}) }}" class="btn btn-danger">Delete</a><hr>
            </span>
            
        </div>
    </div>
{% endblock %}