{% extends "base.html.twig" %}

{% block body %}
    <h4 style="margin-left:370px; margin-top:15px; position: static;">All publicated articles:</h4>
	    <div class="row" style="margin-left:385px; margin-top:15px; width:100%; position: static;">
		    <div class="col-md-4" style="position: static;">
                {% for publicated in publicateds %}
                    <a href="{{ path('show-concrete-publicated', {id: publicated.id}) }}" class="badge badge-light">{{ publicated.title }}</a><br>
                {% endfor %}<hr>
                {% for button in buttons %}
                    {# <a href="{{ path('show-publicated', {id: button.0}) }}" class="btn btn-dark">{{ button.0 }}</a> #}
                    <a href="/show-publicated/{{button.0}}/page" class="btn btn-dark">{{ button.0 }}</a>
                {% endfor %}
                
            </div>
        </div>
{% endblock %}